<app-main-template>
    <div class="row">
        <div class="col-12 ">
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>IDENTIFICATION DU VÉHICULE</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <app-vehicle-identification></app-vehicle-identification>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Service</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" id="checkbox1">
                                            <label class="form-check-label" for="checkbox1">
                                                Validité de l'agrément de l'organisme de vérification première et du
                                                demandeur
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" id="checkbox2">
                                            <label class="form-check-label" for="checkbox2">
                                                Installation
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" id="checkbox3">
                                            <label class="form-check-label" for="checkbox3">
                                                Vérification après installation du CHRONOTACHYGRAPHE
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" id="checkbox4">
                                            <label class="form-check-label" for="checkbox4">
                                                Vérification périodique du CHRONOTACHYGRAPHE
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" id="checkbox5">
                                            <label class="form-check-label" for="checkbox5">
                                                Exigence réglementaire selon l'arrêté 2399-20
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary btn-lg mt-3" routerLink="/customerSelection"> Back</button>
        </div>
        <div class="col-10">
        </div>
        <div class="col-1">
            <button class="btn btn-primary btn-lg mt-3" routerLink="/installation"> Next</button>
        </div>
    </div>
</app-main-template>