<div class="row">
    <div class="col-8">
        <span class="fw-bold ">Proprietaire</span>
        SOCIETE SATAH
    </div>
    <div class="col-4">
        <span class="fw-bold ">N° Châssis</span>
        Y VRAG4OAADARS/940
    </div>
</div>

<div class="row">
    <div class="col-4">
        <span class="fw-bold ">Marque</span>
        VOLVO
    </div>

    <div class="col-4">
        <span class="fw-bold ">Immatriculation</span>
        75719 - أ - c7
    </div>

    <div class="col-4">
        <span class="fw-bold ">kilométrage</span>
        344244,8
    </div>
</div>