<div class="container">
    <div class="row">
        <div class="col-4">
            <span class="fw-bold ">Marque</span>
            KIENZLE
        </div>
        <div class="col-4">
            <span class="fw-bold ">Type</span>
            1234
        </div>
        <div class="col-4">
            <span class="fw-bold ">N° Série</span>
            08954602
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <span class="fw-bold ">Année de Fabrication</span>
            2013
        </div>

        <div class="col-4">
            <span class="fw-bold ">N° Homologation</span>
            MA1014/2.86.20
        </div>
    
        <div class="col-4">
            <span class="fw-bold ">V max</span>
            125 km/h
        </div>
    </div>
</div>
